@{
    Layout = "_LayoutSellers";
}
@foreach (ThongBao i in Model.content)
{
    <p>@i.NoiDung</p>
}
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title" style="font-size: 25px">HLV Park Hang-seo tiết lộ bí quyết đánh bại Philippines</strong>
                    </div>
                    <div class="card-body">
                        <p class="canle">
                            Chia sẻ với báo giới sau trận thắng 2-1 trước Philippines,
                            HLV Park tỏ ra vô cùng hào hứng: “10 năm rồi Việt Nam mới vào
                            chung kết AFF Cup, tôi muốn gửi lời cảm ơn và biết ơn sự cổ
                            vũ và tình yêu tuyệt vời của người hâm mộ. Tôi tự hào vì bầu
                            không khí tuyệt vời hôm nay".
                        </p>
                        <p class="canle">
                            Đánh bại Philippines 2-1 ở trận bán kết lượt về (tổng tỷ số 4-2
                            sau 2 lượt trận), tuyển Việt Nam giành vé vào chung kết AFF Cup
                            sau 10 năm chờ đợi. Đối thủ của thầy trò HLV Park Hang-seo sẽ là
                            tuyển Malaysia.
                        </p>
                        <img src="~/assets_sellers/images/chitietthongbao/0_zing.jpg" class="cangiua" alt="hinh1">
                        <br>
                        <p class="canle">
                            Pha đi bóng và kiến tạo mang về bàn thắng đầu tiên của của Văn Đức là
                            rất tốt nhưng khoảnh khắc ấn tượng nhất với tôi ở trận đấu vừa qua chính
                            là khi Công Phượng dứt điểm nâng tỷ số lên 2-0", thầy Park nói thêm.
                        </p>
                        <p class="canle">
                            Chỉ 4 phút sau khi vào sân thay thế Đức Huy, Công Phượng đã tỏa sáng
                            với pha đi bóng, dứt điểm tự tin đánh bại toàn bộ hàng phòng ngự
                            Philippines giúp tuyển Việt Nam dẫn trước 2 bàn khi đồng hồ chỉ
                            sang phút 87.
                        </p>
                        <p class="canle">
                            Tiết lộ bí quyết giành chiến thắng, ông Park cho biết: “Nếu nhìn qua,
                            nhiều người sẽ nghĩ tuyển Việt Nam yếu thể lực hơn đối thủ. Ngay từ
                            đầu, tôi đã nói với các học trò rằng nếu làm tốt trong hiệp một,
                            hiệp hai sẽ là cơ hội Việt Nam chiến thắng bởi Philippines sẽ buộc phải dâng cao tìm kiếm bàn thắng".
                        </p>
                        <img src="~/assets_sellers/images/chitietthongbao/d_zing_1.jpg" class="cangiua" alt="hinh2">
                        <br>
                        <p class="canle">
                            “Trước đó, tôi đã xem lại băng hình ở Bacolod và nhận ra khoảng
                            thời gian từ phút 60 tới 75, người Philippines chơi bóng rất rối,
                            không có bài vở gì. Nếu chúng ta cầm cự được hiệp một thì ta sẽ thắng.
                            Và thực sự điều đó đã xảy ra”, chiến lược gia người Hàn Quốc chia sẻ.
                        </p>
                        <p class="canle">
                            Đội tuyển Việt Nam sẽ có vài ngày trước khi bước vào hai lượt trận
                            chung kết với Malaysia. Chia sẻ với báo giới, ông Park nói: “Đội
                            tuyển Việt Nam đã thắng Malaysia 2-0 ở vòng bảng. Nhưng hãy lưu ý
                            là họ có những cầu thủ tấn công rất chất lượng. Chúng ta phải kiên
                            định với đấu pháp, với cách chơi hiện tại. Nếu làm được, tuyển Việt
                            Nam sẽ đạt được điều mong muốn”.
                        </p>
                        <p class="canle">
                            Cuối buổi họp báo, giữa những tràng vỗ tay chúc mừng của cả khán
                            phòng, chiến lược gia người Hàn Quốc khiêm tốn thừa nhận: “Sven-Goran
                            Eriksson là một HLV đẳng cấp thế giới. Được đối đầu với ông ấy là một
                            vinh dự với tôi. Đúng là tôi đã thắng Philippines 2 lần nhưng đẳng cấp
                            của tôi vẫn chưa thể so với Eriksson”.
                        </p>
                        <footer class="blockquote-footer pull-right">Jefferey Lebowski</footer>
                    </div>
                </div>
            </div><!-- /# column -->
        </div>
    </div>
    <!-- /.content -->
</div>