@{
    Layout = "_LayoutSellers";
}
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title" style="font-size: 25px">CHƯƠNG TRÌNH KHUYẾN MÃI</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="add_voucher.html" class="btn btn-success btn-primary-custom pull-right"><i class="fa fa-plus"></i> Tạo Chương Trình Khuyến Mãi mới</a>
                            </div>
                        </div>
                        <br>
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên Chương Trình</th>
                                    <th>Sản phẩm</th>
                                    <th>Từ</th>
                                    <th>Đến</th>
                                    <th>Tình trạng</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mừng 20/11</td>
                                    <td>Samsung galaxy S9</td>
                                    <td>23:00 09/11/2018</td>
                                    <td>00:00 10/11/2018</td>
                                    <td><span class="badge badge-complete">Complete</span></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-warning btn-sm">Chi tiết</button>
                                        <button type="button" class="btn btn-outline-warning btn-sm"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mừng 20/11</td>
                                    <td>Samsung galaxy S9</td>
                                    <td>23:00 09/11/2018</td>
                                    <td>00:00 10/11/2018</td>
                                    <td>
                                        <span class="badge badge-pending">Pending</span>
                                    <td>
                                        <button type="button" class="btn btn-outline-warning btn-sm">Chi tiết</button>
                                        <button type="button" class="btn btn-outline-warning btn-sm"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /# column -->
        </div>
    </div>
    <!-- /.content -->
</div>